<ion-header>
  <ion-toolbar>
    <ion-title>
      Dog Center
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngFor="let hot of hotdogs">

    <ion-card>

      <ion-card-header>
        <ion-card-subtitle class="posicaoTitle">{{hot.titulo}}</ion-card-subtitle>
        <ion-card-title><img src={{hot.imagem}} /></ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p class="formataPreco">{{hot.preco}}</p>
        <p class="legendaHotdog">{{hot.desc}}</p>
        <ion-button expand="block" color="tertiary" (click)="detalhes(hot.titulo, hot.imagem, hot.preco)">
          <ion-icon name="card" expand="block"> </ion-icon> Compra  </ion-button>
      </ion-card-content>
    </ion-card><br>


  </div>

</ion-content>